body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    /* filter: blur(0.5px); */
}

.heart {
    height: 70px;
    width: 70px;
    background: red;
    position: relative;
    transform: rotate(-45deg);
    box-shadow: -10px 10px 90px red;
    animation: heart 0.6s linear infinite;
}

@keyframes heart {
    0% {
        transform: rotate(-45deg) scale(1.07);
    }
    80% {
        transform: rotate(-45deg) scale(1.0);
    }
    100% {
        transform: rotate(-45deg) scale(0.8);
    }
}

.heart::before {
    content: '';
    position: absolute;
    height: 70px;
    width: 70px;
    background: red;
    top: -50%;
    border-radius: 50px;
    box-shadow: -10px -10px 90px red;
}

.heart::after {
    content: '';
    position: absolute;
    height: 70px;
    width: 70px;
    background: red;
    right: -50%;
    border-radius: 50px;
    box-shadow: 10px 10px 90px red;
}

#txt .t {
    font-size: 70px;
    margin-right: 100px;
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #0ff, 0 0 80px #0ff, 0 0 90px #0ff, 0 0 100px #0ff, 0 0 150px #0ff;
}

/* #txt2 .t2 {
    font-size: 65px;
    margin-left: 100px;
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #0ff, 0 0 50px #0ff, 0 0 60px #0ff, 0 0 90px #0ff, 0 0 130px #0ff;
} */


#txt2 .t2 {
    font-size: 65px;
    margin-left: 100px;
    animation: flicker 3s infinite alternate;
    color: #fff;
}

@keyframes flicker {
    0%,
    18%,
    22%,
    25%,
    53%,
    57%,
    100% {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #0ff, 0 0 50px #0ff, 0 0 60px #0ff, 0 0 90px #0ff, 0 0 130px #0ff;
    }
    20%,
    24%,
    55% {
        text-shadow: none;
    }
}
